* {
  margin: 0px;
  padding: 0px;
}
:root {
  /*hace referencia al objeto html*/
  --color1: #470459;
  --color2: #8538a6;
  --color3: #7386bf;
  --color4: #f2cb57;
  --color5: #d97652;
  ---colorblanco: #ffffff;
  --colornegro: #000000;
  --colorgrisclaro: #cccccc;
  --colorgrisoscucro: #333333;
  /* variables css de color */
}
.contenido {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow-y: scroll;
}
.phrase {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 40px;
  font-size: 20px;
  color: var(---colorblanco);
  background-color: var(--color5);
  padding: 0px 200px;
}
.cabecera {
  display: flex;
  height: 100px;
  background-color: var(--colorgrisclaro);
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0px 200px;
}
.img-fluid {
  width: 100%;
}
.padded {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: start;
  margin-top: 30px;
}
.padded h2 {
  display: flex;
  height: 100px;
  justify-content: start;
  padding: 0px 200px;
  height: 40px;
  font-size: 35px;
}
.padded-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  height: 450px;
  padding: 0px 200px;
}
.padded-contenedor-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100px;
  margin: 30px 30px 30px 0px;
}
.card-titulo {
  font-size: 24px;
  font-weight: bold;
}
.card-contenido {
  padding: 10px 0px;
} 
.historia {
  width: calc(100% - 400px);
  height: 800px;
  margin: 0px 200px;
}
.historia-titulo {
  display: flex;
  align-items: center;
  height: 100px;
}
.historia-contenido {
  height: 500px;
  padding: 100px;
  display: flex;
  flex-direction: column;
}
.container-prefooter,
.container-prefooter-detail{
  display:flex;
  flex-direction: row;


}
.container-prefooter{
  margin:10px;
  padding: 0px 200px;

}
.main-footer-text{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 40px;
  font-size: 20px;
  color: var(---colorblanco);
  background-color: var(--color5);
  padding: 0px 200px;
}
.container-prefooter-detail{
  width: calc(50% - 20px);
  height: auto;
  padding: 0px 50px;
  justify-content: center;
}